/* Import the Super Mario 256 font */
@font-face {
  font-family: 'SuperMario256';
  src: url('/SuperMario256.ttf') format('truetype');
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Super Mario 256'; /* Fallback fonts */
  background-color: #87CEEB;
}


.btnX {
  color: #D73D3F;
  font-family: 'SuperMario256';
  background-color: #245666;
  border: 0px;
  font-size: 450%;
  position: fixed;
  top: 10px;
  right: 30px;
}

.btnNext{
  color: #ffffff;
  background-color: #245666;
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  height: 100px;
  border-radius: 64px;
  font-family: "SuperMario256";
  font-size: 48px;
  border-width: 0px;
  cursor: pointer;
}


.ContainerL{
  background-color: #245666;
  width: 50%;
  margin: 0;
  height: 580px;
  padding: 10px;
  border-radius: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  justify-content: center;
  overflow: auto;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.landdiv{
  /* background-color: #245666; */
  width: 50%;
  margin: 0;
  height: 580px;
  padding: 10px;
  border-radius: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  justify-content: center;
  overflow: auto;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: grid;
}


.inputName{
  font-family: 'SuperMario256';
  margin-top: 140px;
  text-align: center;
  /* width: 50%; */
  height: 100px;
  width: 885px;
  /* padding: 10px; */
  border-radius: 64px;
  border-width: 0px;
  font-size: 36px;
}

.inputName::placeholder{
  color: #245666;
  font-size: 36px;
  opacity: 65%;
}

body {
  background-image: url('public/Netcentric.jpg');
  background-position: center center;
  background-size: cover;  /* Zoom in to cover the entire screen */
  background-repeat: no-repeat;  /* Prevent repeating the image */
  background-position: -1100px center;
}

.errormessage {
  width: 700px;
  height: 350px;
  background-color: #183e4a;
  color: #fff;
  padding: 10px;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'SuperMario256';
  font-size: 36px;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box; /* Include padding and border in width calculation */
    /* Center text vertically */
  display: flex; /* Use Flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */

}
.errormessage h {
  margin: 0; /* Remove default margins */
  line-height: 2.0; /* Increases spacing between lines */
}

.close-btn {
  background: none;
  border: none;
  font-size: 50px;
  font-weight: bold;
  font-family: 'SuperMario256';
  color: rgb(239, 34, 34);
  position: absolute;
  transform: translate(930px, 190px);
  cursor: pointer;
  outline: none;
}
.close-btn:hover {
  color: #e9922e; /* Change color on hover */
}
