.game-container {
    overflow: hidden;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: url("../../public/Netcentric.jpg");
    background-size: cover;
}

.falling-words {
    pointer-events: none;
    font-size: 64px;
    text-align: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.falling-word {
    position: absolute;
    color: black;
    font-size: 24px;
    animation: fall 6s linear forwards;
}


@keyframes fall {
    0% {
        top: 0vh;
        opacity: 1;
    }
    100% {
        top: 75vh;
        opacity: 1;
    }
}

.topBar {
    display: flex;
    text-align: center;
    background-color: #F6E8E8;
    justify-content: center;
    border-radius: 32px;
    width: 1303px;
    margin: auto;
    margin-top: 2%;
    height: 78px;
    overflow: hidden;
}
