@font-face {
  font-family: 'SuperMario256';
  src: url('/SuperMario256.ttf') format('truetype');
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Super Mario 256';

}

.homebg {
  background-image: url('../../public/Netcentric.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Homepage.css */

svg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 35%; /* Adjust position as needed */
  left: 50%;
  transform: translate(-50%,-50%); /* Center the SVG */
}

.path {
  fill: transparent; /* Ensure the path is transparent */
}

.curvedText {
  fill: #245666; /* Text color */
  font-size: 30px; /* Set font size */
  font-family: 'SuperMario256'; /* Use the custom font */
  letter-spacing: 2px;
  text-shadow:
  2px 2px 0 #ffff,
  -2px 2px 0 #ffffff,
  2px -2px 0 #ffffff,
  -2px -2px 0 #ffffff;
}



.inputName {
  font-family: 'SuperMario256';
  text-align: center;
  height: 12vh;
  width: 55vw;
  border-radius: 20px;
  border-width: 0px;
  font-size: 3.5vw;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 0.5vw;
}

.inputName::placeholder {

  color: #245666;
  font-size: 3.5vw;
  opacity: 65%;
  letter-spacing: 3px;
}

.btnNext {
  color: #ffffff;
  background-color: #245666;
  width: 20vw;
  height: 10vh;
  border-radius: 64px;
  font-family: "SuperMario256";
  font-size: 2.75vw;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 10px;

}

.btnNext:hover {
  background-color: #1e4a5c;

}

.btnNext:active {
  background-color: #183e4a; 
  transform: translate(-50%, -50%) scale(0.97); 
}



.errormessage {
  z-index: 9999;
  width: 57vw;
  height:40vh ;
  background-color: #183e4a;
  color: #fff;
  padding: 20px;
  border-radius: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'SuperMario256';
  font-size: 3vw;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errormessage h {
  margin: 0;
  line-height: 2.0;
}

.close-btn {
  z-index: 20000;
  background: none;
  border: none;
  font-size: 50px;
  font-weight: bold;
  font-family: 'SuperMario256';
  color: rgb(239, 34, 34);
  position: fixed;
  top: 37%;
  left: 75%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  outline: none;
}

.close-btn:hover {
  color: rgb(198, 28, 28);
}

.close-btn:active {
  color: rgb(158, 21, 21);
  transform: translate(-50%, -50%) scale(0.97); 
}