.background{
    overflow: hidden;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: url("../../public/Netcentric.jpg");
    background-size: cover;
}

.result-container{
    width: 45vw;
    height: 50vh;
    background-color: #FECBCBCC;
    border-radius: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: shadow effect */
    padding: 2%;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items vertically */
    position:absolute; 
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
}




.Text-scoreboard{
    font-family: "SuperMario256";
    color:#EA3E3E;
    -webkit-text-stroke: 2px white;
    font-size: 8vh;
    text-align: center;
    margin:auto;
    margin-top: 8vh;
    margin-bottom: 4vh;
}


.user-list {
    flex: 1;
    width: 100%;
    padding-left: 10%;
    padding-bottom: 2%;
}

.user-row {
    display: flex;
    justify-content: space-between; /* Distribute space between name and score */
    align-items: center;
    width: 90%; /* Adjust as needed for spacing */
    padding-top: 4.2%;

}

.user {
    font-family: "SuperMario256";
    font-size: 5.2vh;
    color: #ffffff;
    -webkit-text-stroke: 2px black;

}

.score {
    font-family: "SuperMario256";
    font-size: 5.2vh;
    color: #ffffff;
    -webkit-text-stroke: 2px black;
    text-align: left;

}

.btnHome {
    color: #ffffff;
    background-color: #245666;
    width: 27vw;
    height: 10vh;
    border-radius: 64px;
    font-family: "SuperMario256";
    font-size: 2.75vw;
    border-width: 0px;
    cursor: pointer;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 10px;
  }