body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Super Mario 256';

}
  
.welcomebg {
  background-image: url('../../public/Netcentric.jpg');
  background-position: center center;
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;  
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.avatar1{
  width: 7vw;  /* Set a width */
  height: 7vw; /* Set a height (same as width for a circle) */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the whole area */
}
.circular-container {
  width: 100px;  /* Set the width */
  height: 100px; /* Set the height (same as width for a circle) */
  border-radius: 50%; /* Makes the div circular */
  background-size: cover; /* Ensures the background image covers the area */
  background-position: center; /* Centers the image */
}

.image-gallery {
  display: grid; /* Use grid for structured layout */
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 10px; /* Space between images */
  max-width: 500px; /* Set a max width for the gallery */
  margin: 0 auto; /* Center the gallery */
}



.welcomeText {
    font-family: 'SuperMario256';
    color: #245666;    
    font-size: 6vw;             
    position:absolute;
    top:35%;
    left:50%;
    transform: translate(-50%, -50%); 
  
  }
  
  .nameText {
    font-family: 'SuperMario256';
    color: #1E708A;             
    font-size: 6vw;             
    position:absolute;
    top:48%;
    left:50%;
    transform: translate(-50%, -50%); 
  }
  
  
  
  .btnPlay {
    color: #ffffff;
    background-color: #245666;
    width: 480px;
    height: 100px;
    border-radius: 64px;
    font-family: "SuperMario256";
    font-size: 48px;
    border-width: 0px;
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 50%; /* Change right to left */
    transform: translate(-50%, -50%); /* Center the button */
    cursor: pointer;
  }

  .btnPlay:hover {
    background-color: #1e4a5c;
  
  }
  
  .btnPlay:active {
    background-color: #183e4a; 
    transform: translate(-50%, -50%) scale(0.97); 
  }